*.ipch
*.suo
*.db
*.pdb
*.exe
*.ilk
.vs
.idea
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
*.pch
*.recipe
*.html
bin
bin-int
Debug
Release
Assets/obj
Ukemochi.sln.DotSettings.user
Ukemochi-Game/Resources/Scripts/Ukemochi-Scripting.dll
Ukemochi-Engine/vendor/Mono/MonoLib.zip
Ukemochi-Game/Resources/Scripts/Assembly-CSharp.dll
