*.ipch
*.suo
*.db
*.pdb
*.exe
*.ilk
.vs
.idea
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
*.pch
*.recipe
*.html
Build
Debug
Release
Build/*/bin
Ermine.sln.DotSettings.user
ThirdParty/imgui/bin/
ThirdParty/GLFW/bin/
ThirdParty/Glad/bin/
