*.ipch
*.suo
*.db
*.pdb
*.ilk
.vs
.idea
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
*.pch
*.recipe
*.html
Build
Debug
Release
Build/*/bin
Ermine.sln.DotSettings.user
ThirdParty/imgui/bin/*
ThirdParty/GLFW/bin/*
ThirdParty/Glad/bin/*
!Ermine-ResourcePipeline/xresource_pipeline_v2-main/build/
!Ermine-ResourcePipeline/xresource_pipeline_v2-main/dependencies/
Ermine-ResourcePipeline/Ermine-Game.lion_rcdbase/
ThirdParty/Fmod/bin-int/
ThirdParty/Glad/bin-int/
ThirdParty/GLFW/bin-int/
ThirdParty/imgui/bin-int/
ThirdParty/Mono/bin-int/
dist/*
*.zip
