################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/xtextfile_unit_test.vs2022
/dependencies
