<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets  xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Ermine Update</Title>
      <Shortcut>mbu</Shortcut>
      <Description>Ermine Update message</Description>
      <Author>Ermine</Author>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[void Update()
{
    $end$
}]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>